doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Randevular
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
  body
    .container
      h3 Randevular
      hr
      table.table.table-bordered.table-striped
        thead.table-dark
          tr
            th Hasta ID
            th Hasta Adı 
            th Hasta Soyadı
            th Randevu Tarihi
            th Randevu Saati 
            th Rapor
        tbody
          each randevu in randevular
            tr 
              td= randevu.hasta_id 
              td= randevu.hasta_ad 
              td= randevu.hasta_soyad 
              td= new Date(randevu.randevu_tarihi).toLocaleDateString('tr-TR')
              td= randevu.randevu_saati 
              td
                div.row
                  div.col-small
                    form(action="/doktor/hastaRaporGoster", method="POST")
                      input(type="hidden", name="patientId", value=randevu.hasta_id)
                      button.btn.btn-info.btn-sm.me-1(type="submit", style="float:left;") İncele
